.main-nav
  ul
    li
      a Home
    li
      a.active Our purpose
    li
      a We are looking for startups to
    li
      a Who should participate?
    li
      a We come together to offer
    li
      a How it works
    li
      a Our partners
